input{ background-color : rgb(127, 121, 118);}
.yellow-bg{
    background-color: yellow;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
.gray-bg{
    background-color: rgb(127, 121, 118);
    text-decoration: underline;
}

.year{
    color: red;
    font-style: italic
}